doctype html
html
  head
    title= package.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='//cdn.bootcss.com/uikit/3.2.2/css/uikit.css')
    script(src='//cdn.bootcss.com/uikit/3.2.2/js/uikit.js')
    script(src='//cdn.bootcss.com/uikit/3.2.2/js/uikit-icons.min.js')
    script(src="/javascripts/baidu-statistics.js")
  body(class="")
    div(class="uk-flex uk-flex-column match-parent")
      nav(class="uk-navbar-container" uk-navbar)
        div(class="uk-navbar-left" )
          a(href="/" class="uk-navbar-item uk-logo") 阳哥说
          ul(class="uk-navbar-nav")
            li(class="uk-active")
              a(href="/nav") 网址导航
            li
              a(href="/tech/index") 技术图谱
              div(class="uk-navbar-dropdown")
                ul(class="uk-nav uk-navbar-dropdown-nav")
                  li(class="uk-active")
                    a(href="/tech/html") HTML
                  li
                    a(href="/tech/css") CSS
                  li
                    a(href="/tech/javascript") JavaScript
                  li
                    a(href="/tech/nodejs") NodeJS
            li
              a(href="/english/index") 英语
              div(class="uk-navbar-dropdown")
                ul(class="uk-nav uk-navbar-dropdown-nav")
                  li(class="uk-active")
                    a(href="/english/listen") 听
                  li
                    a(href="/english/speak") 说
                  li
                    a(href="/english/read") 读
                  li
                    a(href="/english/write") 写
      div(class="uk-margin-left")
        block content
      div(class="uk-flex uk-flex-1 uk-flex-bottom")
        div(class="uk-margin-left uk-margin-small")= "v"+package.version+" "+package.time