extends layout

block content
  nav(class="uk-navbar-container" uk-navbar)
    div(class="uk-navbar-left" )
      a(href="#" class="uk-navbar-item uk-logo") 阳哥说全栈
      ul(class="uk-navbar-nav")
        li(class="uk-active")
          a(href="#") 网址导航
        li
          a(href="#") 技术图谱
          div(class="uk-navbar-dropdown")
            ul(class="uk-nav uk-navbar-dropdown-nav")
              li(class="uk-active")
                a(href="#") HTML
              li
                a(href="#") CSS
              li
                a(href="#") JavaScript
              li
                a(href="#") NodeJS
        li
          a(href="#") 英语
          div(class="uk-navbar-dropdown")
            ul(class="uk-nav uk-navbar-dropdown-nav")
              li(class="uk-active")
                a(href="#") 听
              li
                a(href="#") 说
              li
                a(href="#") 读
              li
                a(href="#") 写

