extends layout

block content
  div(class="uk-flex uk-flex-column")
    div(class="uk-margin-top") 编程
      div(class="uk-flex uk-margin-top")
        div(class="uk-card-default uk-padding-small") 
          a(href="https://bing.com/" target="_blank") 必应
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://stackoverflow.com/" target="_blank") Stack Overflow
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://github.com/" target="_blank") GitHub
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://www.npmjs.com/" target="_blank") NPM
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://pingcode.com/" target="_blank") PingCode
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://codeup.aliyun.com/" target="_blank") CodeUp
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://www.runoob.com/" target="_blank") 菜鸟教程
        
          
    div(class="uk-margin-top") 工作
      div(class="uk-flex uk-margin-top")
        div(class="uk-card-default uk-padding-small") 
          a(href="https://eleduck.com/" target="_blank") 电压社区
        div(class="uk-card-default uk-padding-small uk-margin-left") 
          a(href="https://www.zhipin.com/" target="_blank") BOSS直聘